/* Убедитесь, что у вас установлены стили для body и html, чтобы сцена занимала весь экран */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; /* Убирает прокрутку */
}

/* Canvas автоматически займёт 100% */
canvas {
  display: block;
  background-color: black;
}

#segment {
  position: absolute;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  zIndex: 1;
}
